<% content_for :title, "Edit #{@organization_credential.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Edit Organization Credential</h1>
    <div>
      <%= link_to "Show", @organization_credential, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium mr-2" %>
      <%= link_to "Back", organization_credentials_path, class: "rounded-lg py-3 px-5 bg-gray-600 text-white inline-block font-medium" %>
    </div>
  </div>

  <div class="mt-6">
    <%= render "form", organization_credential: @organization_credential %>
  </div>
</div>